@media (min-width: 768px)
{ 
    .card_entree__check {
       
        margin-right: -120px;
        width: 12%;
       }
p{
    margin-right: -290px;
}
.card_entree{
     &:hover p{
        margin-right: -35px;
    }
}
  .logo_and_arrow
  {
    width: 70%;
    margin-left: 140px;
  }
 
  main{
    height: 1030px;
  }
  .card_entree{
    width: 100%;  
    max-width: 600px;
  }
  .title_head
  {
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }
  .title_head h1{
    font-size: 40px;
    margin-right: 150px;
  }
  .heart
  {
    margin-left: 450px;
    margin-top: -20px;
   }   
  
.title_head a
{
  margin: 0;
}
h2{
  margin-right: 550px;
}
.plat_shift h2
{
  margin-right: 500px;
}
.foot
{
  margin:0;
  padding-bottom: 15px;
}
footer h1
{
  padding: 0;
 margin-left: 235px;
}
ul
{
  flex-direction: row;
  gap:20px;
  
}
}