/*BUTTON WELCOME PAGE*/
.button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
        &__aspect{
        display: flex;
        justify-content: center;
        color: $color-lighter-background;
        font-size: 12px;
        font-weight: 400;
        @include decolored-color;
        @include box-shadow-light;
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        max-width: 160px;
        border: transparent;
        transition: all 400ms;
            &:hover{
                @include bright;
        }
    }
}

