/*BUTTON WELCOME PAGE*/
.button{
    display: flex;
    justify-content: center;
        &__aspect{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 12px;
        font-weight: 400;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 3px 3px 3px #dcdcdc;
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        max-width: 160px;
        border: transparent;
        transition: all 400ms;
            &:hover{
                filter: brightness(1.10);
                box-shadow: 3px 3px 3px #908a8a;
        }
    }
}

