/* HEART WELCOME PAGE*/
.heart{
    cursor: pointer;
    position: absolute;
    margin-left: 220px;
    margin-top: 15px;
}

.heart .fa-regular{
    position: absolute;
    font-size: 17px;
    
    opacity: 1;
    transition: opacity 4s;
    &:hover{
       opacity: 0;
    }
}

.heart .fa-solid{
   
    position: absolute;   
    font-size: 17px;
   @include decolored-color;
    -webkit-text-fill-color: transparent;/* police transparante*/
    -webkit-background-clip: text; /*disparition du fond dans la forme du texte*/
    transition: opacity 400ms ease-in-out;
    opacity: 0;
    transform-origin: 50% 50%;
    transition:transform 1000ms, opacity 0.6s;
    &:hover{
       opacity: 1;
       animation: empty 1000ms;
    }

}