.cards1__in p, .cards2__in p{

    border: solid transparent;
    background-color: $tertiary;
    border-radius: 2px;
    color: $color-txt-new;
    font-size: 10px;
    font-weight: 700;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -105px;
    margin-left: 190px;
    position: absolute;
    
}