
body{
    font-family: roboto, sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

#bloc_page{
    width:100%;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

/* RESEARCH CITY AND EXPLORE*/
.container1{
    background-color: $color-darken-background;
    height: 240px;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
        .form__city-choice{
            /*position: relative;
            max-width: 375px;*/
            position: relative;
            max-width: 375px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
                i{
                position: absolute;
                margin-right: 130px;
                }
        }

}
input[type=text]{
    background-color: #edebeb;
    border-top: 2px solid #e4d9d9;
    border-bottom: 2px solid #e4e9e9;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 100%;
    height: 35px;
    text-indent: 35%;
    font-family: roboto, sans-serif;
    font-size: 17px;
}

input{
    padding-left: 10px;
        &::placeholder{
        font-size: 17px;
        color:black;
        font-family: roboto, sans-serif;
        }
}

.titles_container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
         h2{
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: -5px;
        margin-top: 25px;
        }
        h3{
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
   
/*--FUNCTIONNING*/
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-lighter-background;
        h2{
        margin-top: 40px;
        margin-bottom: 25px;
        font-size:15px;
        margin-right: 145px;
    }
}

.function{
    display: flex;
    flex-direction: column;
    gap:20px;
        &__step{
            border: solid transparent;
            border-radius: 10px;
            @include box-shadow;
            width: 100%;
            background-color: $color-darken-background;
            padding-bottom: 5px;
                &:hover{
                background-color: rgb(201, 161, 207, 0.3); 
                border-radius: 10px; 
                }
        }
        &__in-step{
            display: flex;
            flex-direction: row;
            align-items: baseline;
                h3{
                font-size: 12px;
                margin-right: 60px;
                }
        }    
}

.function__step .fa-solid{
    padding-right: 15px;
    padding-left: 30px;
    color: gray;
    padding-top: 20px;
}

/*--CERCLE--*/
.function__step p{
   border-radius: 20px;
    background-color: $primary;
    color: $color-lighter-background;
    position: absolute;
    margin-left: -10px;
    width: 18px;
    height: 18px;
    padding-left: 5.5px;
    padding-top: 2.5px;
    font-size: 11px;
    font-weight: 700;
}

/*--MENUS--*/
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: $color-darken-background;
    margin-top: 50px;
    height: 800px;
    width: 100%;
        h1{
            font-size: 15px;
            margin-right: 175px;
            margin-top: -10px;
        }
}

.cards1 , .cards2{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-bottom: 10px;
        .cards1__in, .cards2__in{
        display: flex;
        flex-direction: column;
        width: 259px;
        max-width: 259px;
        border-bottom-right-radius: 10px;
        @include box-shadow;
    }      
}

.img1{
  @include img
}
.img2{
   @include img
}

.text-under-img{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color-lighter-background;
    margin-top: -4px;
    position: relative;
        h2{
            font-size: 11px;
            font-weight: 700;
            margin-left: 10px;
        }
        h3{
            font-size: 11px;
            font-weight: 300;
            margin-top: -5px;
            margin-left: 10px;
        }
}


