@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./components/button.scss";
@import "./components/heart2.scss";
@import "./base/globalnoshift";
@import "./layout/header-pages.scss";
@import "./layout/footer";
@import "./mediaQ/tablet-pages";
@import "./mediaQ/desktop-pages";

