@charset "UTF-8";
/*DEGRADED COLOR*/
/*IMG WELCOME PAGE*/
/* BUTTON*/
/*WELCOME PAGE*/
/* PAGES MENUS*/
/* ANIMATION DISPARITION LOADER*/
@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
/*ANIMATION LETTER LOADER*/
@keyframes flash {
  0% {
    color: black;
  }
  100% {
    color: rgb(189, 178, 178);
  }
}
/*ANIMATION HEART*/
@keyframes empty {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
/*ANIMATION CASCADE PAGES*/
@keyframes cascade {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(-30%);
    opacity: 1;
  }
}
/*ANIMATION ROTATE CHECK*/
@keyframes rotate-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*BUTTON MENUS PAGES*/
.button2 {
  display: flex;
  justify-content: center;
  margin-left: -25px;
}
.button2__aspect2 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 3px 3px #dcdcdc;
  border-radius: 20px;
  padding: 10px 15px;
  margin-top: 20px;
  width: 100%;
  max-width: 160px;
  border: transparent;
  transition: all 400ms;
}
.button2__aspect2:hover {
  filter: brightness(1.1);
  box-shadow: 3px 3px 3px #908a8a;
}

/*HEART PAGES*/
.heart {
  cursor: pointer;
  position: absolute;
  margin-left: 280px;
  margin-top: 25px;
}

.heart .fa-regular {
  position: absolute;
  font-size: 22px;
  opacity: 1;
  transition: opacity 4s;
}
.heart .fa-regular:hover {
  opacity: 0;
}

.heart .fa-solid {
  position: absolute;
  font-size: 22px;
  background: linear-gradient(#FF79DA, #9356DC);
  /* fond*/
  -webkit-text-fill-color: transparent; /* police transparante*/
  -webkit-background-clip: text; /*disparition du fond dans la forme du texte*/
  transition: opacity 400ms ease-in-out;
  opacity: 0;
  transform-origin: 50% 50%;
  transition: transform 1000ms, opacity 0.6s;
}
.heart .fa-solid:hover {
  opacity: 1;
  animation: empty 1000ms;
}

body {
  font-family: roboto, sans-serif;
  margin: 0;
}

body a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
  width: 10%;
  max-width: 37px;
  margin-right: 290px;
  margin-bottom: 15px;
}

.plat_shift h2 {
  font-size: 15px;
  font-weight: 300;
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
  width: 10%;
}

h3 {
  font-size: 15px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 3px;
  padding-left: 10px;
}

h4 {
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding-left: 9px;
}

p {
  font-size: 12px;
  font-weight: 600;
  margin-right: -80px;
  margin-top: 27px;
  margin-left: 30px;
  width: 100px;
  height: 50px;
  transition: all 0.5s;
}

/*PICTURE*/
.img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/*CARDS*/
main {
  margin-top: -60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #EFEFEF;
  height: 1000px;
  position: relative;
}

.title_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 70px;
}

.title_head h1 {
  font-family: shrikhand, sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.cards_next_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.card_entree {
  /* display: flex;
   flex-direction: column;*/
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px #dcdcdc;
  width: 90%;
  max-width: 360px;
  height: 50px;
  position: relative;
  overflow: hidden; /* cache le scroll avec le slide à droite*/
  /* white-space: nowrap;force le text a rester sur une seule ligne*/
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translateY(-30%);
  animation: cascade 5s ease-out;
}
.card_entree:hover .card_entree__check {
  margin-right: 0px;
}
.card_entree:hover p {
  margin-right: -50px;
}
.card_entree:hover i {
  animation: rotate-check 0.9s ease-in-out;
}

.card_entree__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin-right: -72px;
  width: 20%;
  height: 50px;
  border-radius: 0 15px 15px 0;
  transition: all 1s;
}

.card_entree__check i {
  color: #99E2D0;
  background: white;
  border-radius: 15px;
  padding: 2px;
}

.card_entree__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 50px;
}

.card_entree__txt-price {
  display: flex;
  justify-content: space-between;
}

.card_entree a {
  margin-top: -10px;
}

.txt_price {
  display: flex;
  flex-direction: row;
}

.card_entree__txt-price p {
  transition: all 1s;
}

/*ANIMATION PAGE EFFECT*/
.card_entree--animation1 {
  animation: cascade 0.4s;
}

.card_entree--animation2 {
  animation: cascade 0.8s;
}

.card_entree--animation3 {
  animation: cascade 1.2s;
}

.card_entree--animation4 {
  animation: cascade 1.6s;
}

.card_entree--animation5 {
  animation: cascade 2s;
}

.card_entree--animation6 {
  animation: cascade 2.4s;
}

.card_entree--animation7 {
  animation: cascade 2.8s;
}

.card_entree--animation8 {
  animation: cascade 3.2s;
}

.card_entree--animation9 {
  animation: cascade 3.6s;
}

.logo_and_arrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 60px;
  margin-top: 10px;
  gap: 30px;
}

.ohmyfood_logo {
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
footer .fa-solid {
  color: #F5F5F5;
  margin-right: 5px;
}
footer h1 {
  color: #F5F5F5;
  font-family: shrikhand, sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-right: 70px;
}
footer a {
  color: #F5F5F5;
  text-decoration: none;
}

.foot {
  margin-right: 100px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  .card_entree__check {
    margin-right: -120px;
    width: 12%;
  }
  p {
    margin-right: -290px;
  }
  .card_entree:hover p {
    margin-right: -280px;
  }
  .logo_and_arrow {
    width: 70%;
    margin-left: 140px;
  }
  main {
    height: 1030px;
  }
  .card_entree {
    width: 100%;
    max-width: 600px;
  }
  .title_head {
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }
  .title_head h1 {
    font-size: 40px;
    margin-right: 150px;
  }
  .heart {
    margin-left: 450px;
    margin-top: -20px;
  }
  .title_head a {
    margin: 0;
  }
  h2 {
    margin-right: 550px;
  }
  .plat_shift h2 {
    margin-right: 500px;
  }
  .foot {
    margin: 0;
    padding-bottom: 15px;
  }
  footer h1 {
    padding: 0;
    margin-left: 235px;
  }
  ul {
    flex-direction: row;
    gap: 20px;
  }
}
@media (win-width: 1024px) {
  .ohmyfood_logo {
    max-width: 460px;
  }
}

/*# sourceMappingURL=styleenchantee.css.map */
